<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
</head>

<body>

<h1
    th:text="${medicine.id == null
        ? 'Add Medicine'
        : 'Edit Medicine'}">
</h1>

<form
    th:action="@{/pharmacy/medicines/save}"
    th:object="${medicine}"
    method="post">

    <input
        type="hidden"
        th:field="*{id}">


    <label>Medicine Name</label>

    <input
        type="text"
        th:field="*{name}">

    <br><br>


    <label>Generic Name</label>

    <input
        type="text"
        th:field="*{genericName}">

    <br><br>


    <label>Category</label>

    <input
        type="text"
        th:field="*{category}">

    <br><br>


    <label>Unit Price</label>

    <input
        type="number"
        step="0.01"
        th:field="*{unitPrice}">

    <br><br>


    <label>Quantity in Stock</label>

    <input
        type="number"
        min="0"
        th:field="*{quantityInStock}">

    <br><br>


    <label>Low Stock Reorder Level</label>

    <input
        type="number"
        min="0"
        th:field="*{reorderLevel}">

    <br><br>


    <label>Expiry Date</label>

    <input
        type="date"
        th:field="*{expiryDate}">

    <br><br>

    <button type="submit">
        Save Medicine
    </button>

</form>

<br>

<a href="/pharmacy/medicines">
    ← Back
</a>

</body>

</html>